/*
Colors:

#3c4856 | rgba( 60,  72,  86, 1) - dark text color
#848999 | rgba(132, 137, 153, 1) - light text color
#2e3192 | rgba(46, 49,  146, 1) - primary color

#323c48 | rgba( 50,  60,  72, 1) - footer background color
#70777f | rgba(112, 119, 127, 1) - footer text color
#47505b | rgba( 71,  80,  91, 1) - footer line color
*/
/*---------------------------------------------------------------------------------------------
[ Global setup ]
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  overflow-x: hidden;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  font: 400 1.6em/1.5 'Poppins', sans-serif;
  color: #3d4a58;
}
a {
  color: #2e3192;
  text-decoration: none;
  backface-visibility: hidden;
}
a:hover {
  text-decoration: underline;
}
:focus {
  outline: none;
}
h1, h2, h3, h4, .h4, h5, h6 {
  color: #3c4856;
  line-height: 1.3;
  font-weight: inherit;
  margin: 2em 0 .8em;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3, .h3 {
  font-size: 2.8rem;
}
h4, .h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 2rem;
}
p {
  margin: 1em 0 2em;
}
small {
  color: #909fb0;
  font-size: 0.86em;
}
button:focus {
  outline: none;
}
label {
  cursor: pointer;
}
figure,
blockquote {
  margin: 0;
}
svg {
  pointer-events: none;
  fill: currentColor;
  display: block;
}
img {
  display: block;
  max-width: 100%;
}

.-list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
.-shadow {
  box-shadow: 0px 15px 46px 0px rgba(0, 0, 0, 0.09);
}
.-underline {
  text-decoration: underline;
}
.-decoration {
  position: relative;
}
@media (min-width: 1024px) {
  .-decoration::before {
    content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    display: block;
    pointer-events: none;
    background-color: #2e3192;
    border-radius: 50%;
    box-shadow: 0px   0px 0 1px #2e3192,
      32px  0px 0 1px #2e3192,
      64px  0px 0 1px #2e3192,
      96px  0px 0 1px #2e3192,
      128px 0px 0 1px #2e3192,
      160px 0px 0 1px #2e3192,
      192px 0px 0 1px #2e3192,
      224px 0px 0 1px #2e3192,
      256px 0px 0 1px #2e3192,
      288px 0px 0 1px #2e3192,
      0px  32px  0 1px #2e3192,
      32px  32px 0 1px #2e3192,
      64px  32px 0 1px #2e3192,
      96px  32px 0 1px #2e3192,
      128px 32px 0 1px #2e3192,
      160px 32px 0 1px #2e3192,
      192px 32px 0 1px #2e3192,
      224px 32px 0 1px #2e3192,
      256px 32px 0 1px #2e3192,
      288px 32px 0 1px #2e3192,
      0px   64px 0 1px #2e3192,
      32px  64px 0 1px #2e3192,
      64px  64px 0 1px #2e3192,
      96px  64px 0 1px #2e3192,
      128px 64px 0 1px #2e3192,
      160px 64px 0 1px #2e3192,
      192px 64px 0 1px #2e3192,
      224px 64px 0 1px #2e3192,
      256px 64px 0 1px #2e3192,
      288px 64px 0 1px #2e3192,
      0px   96px  0 1px #2e3192,
      32px  96px 0 1px #2e3192,
      64px  96px 0 1px #2e3192,
      96px  96px 0 1px #2e3192,
      128px 96px 0 1px #2e3192,
      160px 96px 0 1px #2e3192,
      192px 96px 0 1px #2e3192,
      224px 96px 0 1px #2e3192,
      256px 96px 0 1px #2e3192,
      288px 96px 0 1px #2e3192,
      0px   128px 0 1px #2e3192,
      32px  128px 0 1px #2e3192,
      64px  128px 0 1px #2e3192,
      96px  128px 0 1px #2e3192,
      128px 128px 0 1px #2e3192,
      160px 128px 0 1px #2e3192,
      192px 128px 0 1px #2e3192,
      224px 128px 0 1px #2e3192,
      256px 128px 0 1px #2e3192,
      288px 128px 0 1px #2e3192,
      0px   160px 0 1px #2e3192,
      32px  160px 0 1px #2e3192,
      64px  160px 0 1px #2e3192,
      96px  160px 0 1px #2e3192,
      128px 160px 0 1px #2e3192,
      160px 160px 0 1px #2e3192,
      192px 160px 0 1px #2e3192,
      224px 160px 0 1px #2e3192,
      256px 160px 0 1px #2e3192,
      288px 160px 0 1px #2e3192,
      0px   192px 0 1px #2e3192,
      32px  192px 0 1px #2e3192,
      64px  192px 0 1px #2e3192,
      96px  192px 0 1px #2e3192,
      128px 192px 0 1px #2e3192,
      160px 192px 0 1px #2e3192,
      192px 192px 0 1px #2e3192,
      224px 192px 0 1px #2e3192,
      256px 192px 0 1px #2e3192,
      288px 192px 0 1px #2e3192,
      0px   224px 0 1px #2e3192,
      32px  224px 0 1px #2e3192,
      64px  224px 0 1px #2e3192,
      96px  224px 0 1px #2e3192,
      128px 224px 0 1px #2e3192,
      160px 224px 0 1px #2e3192,
      192px 224px 0 1px #2e3192,
      224px 224px 0 1px #2e3192,
      256px 224px 0 1px #2e3192,
      288px 224px 0 1px #2e3192,
      0px   256px 0 1px #2e3192,
      32px  256px 0 1px #2e3192,
      64px  256px 0 1px #2e3192,
      96px  256px 0 1px #2e3192,
      128px 256px 0 1px #2e3192,
      160px 256px 0 1px #2e3192,
      192px 256px 0 1px #2e3192,
      224px 256px 0 1px #2e3192,
      256px 256px 0 1px #2e3192,
      288px 256px 0 1px #2e3192,
      0px   288px 0 1px #2e3192,
      32px  288px 0 1px #2e3192,
      64px  288px 0 1px #2e3192,
      96px  288px 0 1px #2e3192,
      128px 288px 0 1px #2e3192,
      160px 288px 0 1px #2e3192,
      192px 288px 0 1px #2e3192,
      224px 288px 0 1px #2e3192,
      256px 288px 0 1px #2e3192,
      288px 288px 0 1px #2e3192;
  }
}

.lead {
  /*font-size: 1.8rem;*/
  line-height: 2;
}


/* [ Logo ] */
.logo {
  display: block;
  width: 126px;
  height: 28px;
}


/* [ Buttons ] */
.btn {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background: transparent;
  padding: .8em 1.4em;
  transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out;

  &:disabled {
    opacity: .6;
    pointer-events: none;
    user-select: none;
  }
}

.btn:not(.btn--link):hover {
  text-decoration: none;
}

.btn--primary {
  background-color: #2e3192;
  color: #ffffff;
}
.btn--primary:hover {
  background-color: rgba(46, 49,  146, 0.8);
}

.btn--inverse {
  background-color: #ffffff;
  color: #2e3192;
}
.btn--inverse:hover {
  background-color: rgba(46, 49,  146, 0.8);
  color: #ffffff;
}

.btn--arrow {
  padding: 1.2em 3em 1.2em 2em;
  min-width: 17em;
  position: relative;
}
.btn--arrow::after {
  content: '\027F6';
  color: currentColor;
  font-size: 1.6em;
  line-height: 1;
  text-decoration: none;
  display: block;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 2rem;
}

.btn--link {
  padding-left: 0;
}


/* [ Custom Checkbox ] */
.-checkbox {
  position: absolute;
  opacity: 0;
}
.-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #a1a9bd;
  border-radius: 4px;
}
.-checkbox:hover + label:before {
  background: rgba(161, 169, 189, 0.05);
}
.-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.-checkbox:disabled + label:before {
  box-shadow: none;
  background: #dddddd;
}
.-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: #a1a9bd;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #a1a9bd, 4px 0 0 #a1a9bd, 4px -2px 0 #a1a9bd, 4px -4px 0 #a1a9bd, 4px -6px 0 #a1a9bd, 4px -8px 0 #a1a9bd;
  transform: rotate(45deg);
}


.c-label {
  font-size: 1.2rem;
  color: #909fb0;
  user-select: none;
}
.c-label a {
  font-weight: 600;
  color: #3d4a58;
}


/* [ Table ] */
table {
  margin: .5em 0 2em;
  color: #1a1c3c;
  font-size: .87em;
  table-layout: fixed;
}
td, th {
  padding: .5em 1em;
  vertical-align: top;
}
th {
  font-weight: 500;
  text-align: left;
}
thead {
  th {
    color: #808396;
    background-color: #e8ecf2;
  }
}
tr:not(:last-child) td {
  border-bottom: 1px solid #e8ecf2;
}


/* [ Header & Navigation ] */
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  background-image: linear-gradient(to right, #ffffff, rgba(46, 49,  146, 0.15));
}
.header--fixed {
  background-color: #ffffff;
  position: fixed;
  transform: translateZ(0);
}

.header__content {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 1.5rem 3rem;
}

.nav {
 margin-left: auto;
 margin-right: 2em;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-wrap: wrap;
}
.nav__item {
  padding: 0.5rem;
}
.nav__link {
  font-size: 1.8rem;
  white-space: nowrap;
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem 2rem;
}

.header__auth {
  display: flex;
  align-items: center;
}
.header__auth .btn {
  min-width: 8em;
  text-align: center;
}
.header__auth .btn:last-child {
  margin-left: 1.6rem;
}


/*---------------------------------------------------------------------------------------------
[ Layout, Page wrap ]
*/
.page-wrap {
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 1400px;
}


/* layout */
.l-media__figure {
  margin: auto;
}
@media (min-width: 1024px) {
  .l-media {
    display: flex;
    align-items: center;
  }
  .l-media__content {
    width: 48%;
    padding: 1em 2.5em;
  }
  .l-media__figure {
    max-width: 600px;
  }
  .l-media--initial .figure {
    float: left;
  }
  .l-media--reverse .figure {
    float: right;
  }
  .l-media--reverse .l-media__content {
    order: 1;
  }
}
@media (max-width: 1023px) {
   .l-media {
    max-width: 680px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding: 10rem 0 0;
}


/*---------------------------------------------------------------------------------------------
[ Homepage- section: Entry ]
*/
.section--entry {
  padding-top: 14rem;
  background: url('/img/banner.png') no-repeat 100% 100% / cover;
}

.section--entry h1 {
  font-weight: 600;
}

.section--entry h1, .section--entry p {
  color: #fff;
}

@media (min-width: 1024px) {
  .section--entry {
    padding-bottom: 14rem;
  }
  .entry__template {
    width: 790px;
    height: 540px;
  }
  .-decoration.entry__template::before {
    top: 0;
    left: -1em;
  }
  .entry__template img {
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 1023px) {
  .messages {
    display: none;
  }
}


.messages {
  max-width: 30rem;
  position: absolute;
  left: -14rem;
  bottom: -10rem;
  z-index: 2;
}
.messages__icon {
  width: 100px;
  height: 80px;
  padding: 2rem;
  border-radius: 50%;
  background: #ffffff url('/img/ico-message.svg') no-repeat 50% 50%;
  background-size: 40px 40px;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 100%;
  margin-left: 4rem;
}
.message {
  padding: 3rem;
  border-radius: 2rem;
}
.message:first-child {
  margin-bottom: 2rem;
}
.message--inverse {
  background-color: #ffffff;
  border-top-left-radius: 0px;
  color: #3c4856;
}
.message--primary {
  background-color: #2e3192;
  border-bottom-right-radius: 0px;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .section--entry .lead {
    max-width: 80%;
  }
}


/*---------------------------------------------------------------------------------------------
[ Homepage- section Features ]
*/
/* [ section: Features-entry ] */
.features-entry {
  text-align: center;
  position: relative;
  padding-bottom: 7vw;
}
.features-entry .page-wrap {
  max-width: 860px;
}
.features-entry::before,
.features-entry::after {
  content: '';
  height: 500px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.features-entry::before {
  bottom: 10rem;
  background: url('/img/line-precents.svg') no-repeat 50% 100%;
  z-index: 2;
}
/* .features-entry::after {
  background: url('/img/waves.svg') no-repeat 50% 0;
  background-size: cover;
} */

.features-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  .bg-wave {
    display: block;
    width: 100%;
  }
}


/* [ section: Features-Channel manager & integrations ] */
.channel-manager {
  padding-top: 0;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,253,253,1) 100%);
}
@media (min-width: 1024px) {
  .integrations {
    width: 700px;
    height: 500px;
  }
}


/* [ section: Features-Calendar ] */
.calendar__img {
  width: 400px;
  margin: 1rem auto;
  height: 530px;
  position: relative;
}
.calendar__template::after,
.calendar__img::before,
.calendar__img::after {
  content: '';
  display: block;
  height: 140px;
  width: 205px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background: no-repeat 50% 50%/contain;
}
.calendar__template::after {
  top: 48%;
  left: 50%;
  margin-left: 53px;
  background-image: url('/img/calendar-mock-primary-left.svg');
}
.calendar__img::before {
  top: 25%;
  left: -17%;
  background-image: url('/img/calendar-mock-secondary-left.svg');
}
.calendar__img::after {
  bottom: 8%;
  right: 86%;
  background-image: url('/img/calendar-mock-secondary-right.svg');
}
@media (min-width: 1024px) {
  .calendar {
    padding: 10rem 0 0;
  }
  .calendar__template.-decoration::before {
    top: -9.6rem;
    right: 20.5rem;
  }
}


/* [ section: Features-Guest ] */
.guest {
  padding: 5rem 0 10rem;
  position: relative;
}
.guest::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 80%;
  right: 0;
  bottom: 50%;
  background: url('/img/bg-features.svg') no-repeat 100% 50%/contain;
  pointer-events: none;
}
.guest-email {
  text-align: left;
  position: relative;
  max-width: 480px;
  margin: 4rem auto;
}
.guest-email__header,
.guest-email__body {
  padding: 2.5rem 3rem;
}
.guest-email__header {
  display: flex;
  align-items: center;
  background-color: #f3f6f8;
  border-radius: 10px 10px 0 0;
}

@media (min-width: 1024px) {
  .guest__template.-decoration::before {
    top: -8rem;
    left: -5rem;
  }
}

.avatar {
  width: 76px;
  height: 76px;
  overflow: hidden;
  border-radius: 50%;
}


.guest-name {
  margin-left: 20px;
}
.guest-name__title {
  font-size: 2.4rem;
}
.guest-name__sub-info {
  color: #909fb0;
  font-size: 1.4rem;
  font-weight: 500;
}

.guest-email::before,
.guest-email::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
}
.guest-email::before {
  background: url('/img/people/bg-guest-top.png') no-repeat 0 0/contain;
  z-index: 2;
  width: 280px;
  height: 252px;
  top: -6rem;
  left: 100%;
  margin-left: -6rem;
}
.guest-email::after {
  background: url('/img/people/bg-guest-bottom.png') no-repeat 0 0/contain;
  z-index: -1;
  width: 260px;
  height: 200px;
  left: -6.8rem;
  top: 100%;
  margin-top: -7rem;
}
.guest-email__body {
  color: #909fb0;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}
.guest-email__body p {
  margin: 0;
}
.guest-email__body p + p {
  margin-top: 1em;
}


.percent-table {
  width: 320px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: 10px;
  background-color: #2e3192;
  position: absolute;
  left: 65%;
  bottom: -30%;
  z-index: 2;
}
.percent-item {
  color: #ffffff;
  width: 50%;
  padding: 3rem;
}
.percent-item:nth-child(1),
.percent-item:nth-child(3) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.percent-item:nth-child(1),
.percent-item:nth-child(2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.percent-item__value {
  font-size: 3.2rem;
  line-height: 1.2;
}
.percent-item__title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.percent-item__progress {
  margin-top: 2rem;
}


.progress-bar,
.progress-bar__value {
  border-radius: 6px;
}
.progress-bar {
  height: 6px;
  background-color: rgba(255, 255, 255, 0.2);
}
.progress-bar__value {
  display: block;
  height: 100%;
  max-width: 35%;
  background-color: currentColor;
}



/* [ section: Features-Statistics ] */
@media (min-width: 1024px) {
  .statistics__template.-decoration::before {
    top: -8.6rem;
    right: 26rem;
  }
  .statistics__img {
    position: relative;
    z-index: 1;
    width: 840px;
  }
}



/* [ section: Features-Support ] */
.support {
  padding-top: 0;
  background: url('/img/support-bg.svg') no-repeat 100% 50%/contain;
}
.s-card {
  text-align: center;
  width: 30rem;
  min-height: 28rem;
  padding: 2rem;
  margin: 1em auto;
  border-radius: 1.4rem;
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.s-card__title,
.s-card__description {
  margin: 1.2em 0 0;
}
.s-card__icon {
  width: 10rem;
  height: 8.6rem;
  margin-bottom: 1em;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
}
.s-card__title {
  font-size: 1.6rem;
}
.s-card__description {
  font-size: 1.2rem;
  color: #909fb0;
}

.s-card--primary {
  color: #ffffff;
  background-color: #2e3192;
  z-index: 3;
}
.s-card--primary > * {
  color: inherit;
}
.s-card--primary .s-card__icon {
  background-color: #484baf;
  background-image: url('/img/ico-support.svg');
}
.s-card--automation .s-card__icon {
  background-color: #fbe1c7;
  background-image: url('/img/ico-thunderbolt.svg');
}
.s-card--workflow .s-card__icon {
  background-color: #dfedf1;
  background-image: url('/img/ico-cog.svg');
}

@media (min-width: 1024px) {
  .support__template.-decoration::before {
    top: -5rem;
    right: 17rem;
  }
  .s-card--workflow {
    margin-top: -22rem;
    margin-left: -9rem;
  }
  .s-card--automation {
    margin-top: -14rem;
    right: -19rem;
    z-index: 2;
  }
}


/*---------------------------------------------------------------------------------------------
[ Homepage- Pricing ]
*/
.section--pricing {
  padding-bottom: 6em;
  background: url('/img/pricing-bg.svg') no-repeat 0 100%/75%;
}
.pricing {
  text-align: center;
}
.pricing__lead {
  max-width: 860px;
  margin: .6em auto 4.6em;
}
.pricing__infoplan {
  font-size: 2.4rem;
  margin: 2.4em 0 1em;
}
.pricing__infoplan small {
  display: block;
  font-size: 1.4rem;
  margin: 1em 0 0;
}
.amount {
  font-size: 1.4em;
  font-weight: 600;
  white-space: nowrap;
}
.units-range {
  margin: 7rem auto;
  max-width: 860px;
}

/* [ card plan ] */
.card {
  max-width: 500px;
  margin: 2rem auto;
  padding: 3em 3em 6em;
  border-radius: 10px;
  background-color: #ffffff;
  border-bottom: 10px solid transparent;
  position: relative;

  &__heading {
    margin-top: 0;
  }

  &__btn {
    position: absolute;
    bottom: 1.4em;
    left: 50%;
    transform: translateX(-50%);
  }
}
.card__subheading {
  text-transform: uppercase;
  font-weight: 600;
}
.advantages__item {
  margin: 1rem 0;
}
.ico-plus {
  font-weight: 400;
  color: #2e3192;
  font-size: 6rem;
}
.card--selected {
  border-bottom-color: #2e3192;
}
.card--selected .card__heading {
  color: #2e3192;
}
@media (min-width: 1024px) {
  .plan__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 50%;
    margin: 2em 1em;
  }
}


/*---------------------------------------------------------------------------------------------
[ Homepage- Feedback ]
*/
.section--feedbacks {
  padding-top: 0;
}
.section--feedbacks .page-wrap {
  position: relative;
}
.feedbacks {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding: 10rem 0 12rem;
  background: url(/img/ico-quote.svg) no-repeat 50% 50%;
  background-size: 16em auto;
}
.feedback {
  padding: 2em 0;
  font-size: 1.8rem;
}
.feedback .avatar {
  margin: 0 auto 2em;
}
.feedback__text {
  font-size: 1em;
  line-height: 1.8;
}
.feedback__author {
  color: #909fb0;
  font-size: .8em;
}


.btn-carousel {
  color: #c1c9d3;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
}
.btn-carousel:hover {
  color: #909fb0;
}
.btn-carousel::before,
.btn-carousel::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.btn-carousel--prev::before,
.btn-carousel--next::before {
  width: 54px;
  height: 2px;
  background-color: currentColor;
}
.btn-carousel--prev::before,
.btn-carousel--prev::after {
  right: 100%;
}
.btn-carousel--next::before,
.btn-carousel--next::after {
  left: 100%;
}
.btn-carousel--prev::after,
.btn-carousel--next::after {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-width: 4px 10px;
}
.btn-carousel--prev::after {
  border-right-color: currentColor;
  margin-right: 54px;
}
.btn-carousel--next::after {
  border-left-color: currentColor;
  margin-left: 54px;
}
.btn-carousel--next {
  margin-right: 3rem;
}
@media (min-width: 1024px) {
  .section--feedbacks {
    background: url('/img/bg-people.png') no-repeat 50% 5em / contain;
  }
  .feedbacks {
    max-width: 58em;
  }
  .feedback {
    font-size: 2.4rem;
  }
}
@media (min-width: 1280px) {
  .feedbacks {
    position: relative;
  }
  .btn-carousel {
    position: absolute;
    top: 50%;
    z-index: 2;
  }
  .btn-carousel--prev {
    left: -100px;
  }
  .btn-carousel--next {
    right: -100px;
  }
}


/*---------------------------------------------------------------------------------------------
[ Homepage- Footer ]
*/
.page-footer {
  color: #ffffff;
  background-color: #2b2b2b;
}
.prefooter,
.footer {
  padding: 6rem 0;
}
.prefooter__heading,
.footer-nav__heading {
  color: inherit;
}
.prefooter {
  border-bottom: 1px solid #47505b;
}
.prefooter__description {
  font-size: 1.8rem;
  margin: 0;
}
.footer {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 108px;
    height: 24px;
    margin: 2rem auto 0;
  }
}
.footer-nav__list {
  margin: 1em 0;

  li {
    display: inline-block;
    margin: .5rem 1em;
  }
  a {
    color: inherit;
  }
}
.social {
  display: inline-block;
  vertical-align: middle;

  svg {
    font-size: 1.4em;
    width: 1em;
    height: 1em;
  }
}

@media (max-width: 1023px) {
  .prefooter {
    text-align: center;
  }
  .prefooter__content-cta {
    margin-top: 2em;
  }
}
@media (min-width: 1024px) {
  .prefooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;

    &__copy {
      display: flex;
      order: -1;
    }
    .logo,
    &__copyright {
      margin: 0;
    }
    .logo {
      margin-right: 1em;
    }
  }
}


/*---------------------------------------------------------------------------------------------
[ Homepage- mobile navigation ]
*/
.outer-menu {
  display: none;
}
@media screen and (max-width: 1110px) {
  .nav,
  .header__auth {
    display: none;
  }
  .outer-menu {
    position: fixed;
    top: 3px;
    right: 57px;
    z-index: 1;
    display: block;
  }
  .outer-menu .hamburger {
    color: #2e3192;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 0.5em 1em;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .hamburger > div,
  .outer-menu .hamburger > div::before,
  .outer-menu .hamburger > div::after {
    background-color: currentColor;
    transition: transform 0.4s ease;
    width: 100%;
    height: 1px;
  }
  .outer-menu .hamburger > div {
    position: relative;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .hamburger > div::before,
  .outer-menu .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
  }
  .outer-menu .hamburger > div::before {
    top: -8px;
  }
  .outer-menu .hamburger > div::after {
    top: 8px;
  }
  .outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  .outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .menu > div {
    width: 250vw;
    height: 250vw;
    background-color: rgba(50,  60,  72, .99);
    border-radius: 50%;
    transition: all 0.4s ease;
    flex: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .menu > div > div {
    text-align: center;
    padding: 2rem;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .outer-menu__list {
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
  }
  .outer-menu__list .btn {
    margin: .5rem;
  }
  .outer-menu__item {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
  }
  .outer-menu__link {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color 0.4s ease;
  }
  .outer-menu__link:hover {
    color: #e5e5e5;
    text-decoration: none;
  }
  .outer-menu__link:hover::after {
    width: 100%;
  }
  .outer-menu__link::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    transition: width 0.4s ease;
  }
  .outer-menu .checkbox-toggle:checked + .hamburger {
    color: #ffffff;
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div::before,
  .outer-menu .checkbox-toggle:checked + .hamburger > div::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div::after {
    opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  .outer-menu .checkbox-toggle:checked ~ .menu {
    pointer-events: auto;
    visibility: visible;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu > div {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-duration: 0.75s;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }
}
.cookieinfo-close {
  background-color: transparent !important;
  color: #b1b1b1 !important;
  min-width: 40px !important;
  font-size: 24px !important;

  &:hover {
    color: #999999 !important;
  }
}
